# Nombre del proyecto para aislar contenedores, redes y volúmenes en Docker
# Para producción: tiendeo-pro
# Para laboratorio: tiendeo-lab
COMPOSE_PROJECT_NAME=tiendeo-pro

# Puertos expuestos en el servidor
# Producción: FRONTEND_PORT=3050, BACKEND_PORT=3051, MINIO_API_PORT=9000, MINIO_CONSOLE_PORT=9001
# Laboratorio: FRONTEND_PORT=4050, BACKEND_PORT=4051, MINIO_API_PORT=9010, MINIO_CONSOLE_PORT=9011
FRONTEND_PORT=3050
BACKEND_PORT=3051
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# URL del API - Esta variable se inyecta en el Frontend durante el build process
# Producción: https://tiendeopos.grupodksoluciones.com/api
# Laboratorio: https://tiendeopos-prueba.grupodksoluciones.com/api
NEXT_PUBLIC_API_URL=https://tiendeopos.grupodksoluciones.com/api
